[submodule "auth-service"]
	path = auth-service
	url = https://gitlab.surrey.ac.uk/group-5/auth-service.git
[submodule "frontend"]
	path = frontend
	url = https://gitlab.surrey.ac.uk/group-5/frontend.git
[submodule "notification-service"]
	path = notification-service
	url = https://gitlab.surrey.ac.uk/group-5/notification-service.git
	branch=main
[submodule "location_microservice"]
	path = location_microservice
	url = https://gitlab.surrey.ac.uk/group-5/location_microservice.git
[submodule "bookings_service"]
	path = bookings_service
	url = https://gitlab.surrey.ac.uk/group-5/bookings_service.git
