[submodule "auth-service"]
	path = auth-service
	url = https://gitlab.surrey.ac.uk/group-5/auth-service.git
[submodule "frontend"]
	path = frontend
	url = https://gitlab.surrey.ac.uk/group-5/frontend.git
